body {
	background: black;
}
.button {
    width: 75px;
    height: 75px;
	top: 50px;
	background: url('images/play.jpg') no-repeat center;
}
.play, .pause { 
	width: 75px;
	height: 75px;
	position: relative;
	left: 0px;
	top: 50px;
}
.pause { 
	position: relative;
	left: 0px;
	top: 50px;
	background: url('images/pause.jpg') no-repeat center;
}
.play{	
	position: relative;
	left: 0px;
	top: 50px;
	background: url('images/play.jpg') no-repeat center;
}
#reverse {
	top: 50px;
	background: url('images/reverse.jpg') no-repeat center;
}
#forward {
	top: 50px;
	float: right;
	background: url('images/forward.jpg') no-repeat center;
}